.poke-card {
  background: linear-gradient(to left, var(--red) 2px, white 15px);
  border: 4px solid var(--red);
  border-radius: 10px;
  padding: 0px 5px;
  padding-top: 5px;
  position: relative;
  min-height: 210px;
  max-height: 500px;
  max-width: 370px;
  overflow: hidden;
}

.poke-card-no-gradient {
  border: 4px solid var(--red);
  border-radius: 10px;
  padding: 0px 5px;
  padding-top: 5px;
  position: relative;
  min-height: 210px;
  max-height: 500px;
  max-width: 370px;
  overflow: hidden;
}

.edit-save {
  color: var(--red);
  cursor: pointer;
}

.pokemon-input {
  padding: 0;
  margin: 1px;
  width: 120px;
}

.sm-input {
  width: 40px;
  height: 15px;
  padding-left: 4px;
  margin-left: 4px;
  font-size: .75rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.poke-card p {
  margin: 0;
}

.poke-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: .06rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.poke-level {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  letter-spacing: .06rem;
  font-size: .8rem;
  cursor: default;
}

.poke-icon {
  height: auto;
  width: 60px;
  max-width: 70px;
  margin-top: 2px;
  margin-bottom: 3px;
}

.types {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.type-icon {
  height: auto;
  width: 60px;
  margin-top: 2px;
  margin-bottom: 3px;
}

.stat-button, .delete-button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  background-color: var(--red);
  cursor: pointer;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s;
  border-top-left-radius: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  padding: 1px 10px;
  font-size: .8rem;
  letter-spacing: .05rem;
}

.stat-button:hover {
  width: 25px;
}

.stat-button:hover .stats-text {
  opacity: 1;
  max-width: 50px;
}

.stat-bar {
  display: inline-block;
  height: 10px;
  border-radius: 3px;
  transition: width 0.5s ease-in-out;
}

.stat-margin {
  margin-right: 16px;
}

.default-cursor {
  cursor: default;
}

/* rapid fire clicking of elements on the page won't trigger highlight 
this will prevent highlighting of any kind which wasn't really but i wanted, but for now
this works. */
.no-select {
  user-select: none;
  /* Standard syntax */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera syntax */
  -moz-user-select: none;
  /* Firefox syntax */
  -ms-user-select: none;
  /* IE and Edge syntax */
}