.nav-link {
    transition: ease-in-out 0.2s;
}

.nav-link:hover {
    font-size: larger;
    text-shadow: 1px 1px 8px rgba(70, 70, 70, 0.748);
}

img {
    height: 30dvh;
}

#name {
    height: 10dvh;
    background: white;
}

.icon {
    background: url("./../../assets/pokeball-pokemon-svgrepo-com.svg");
    background-size: contain;
    height: 2dvh;
    width: 2dvh;
    display: block;
    margin-right: 5px;
}

#title {
    font-size: 8dvh;
}

#links {
    background-color: var(--red);
    height: 5dvh;
    width: 100dvw;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: .06rem;
    color: white !important;
}