

*{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.nav-link{

    color: black;

}

.nav-link:hover{

    color: blue;
    
}

.active {

    color: blue;

}

img{

    height: 30dvh;

}

#name{

   height: 10dvh;

   background: white;



}

#title {

    font-size: 8dvh;

}

#links {

    font-size: 2dvh;

    background-color: red;

    height: 5dvh;

    width : 100dvw;

}