

*{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}



.nav-link:hover{

    font-size: larger;

    
}

img{

    height: 30dvh;

}

#name{

   height: 10dvh;

   background: white;



}

.icon {
    background: url('./../../assets/pokeball-pokemon-svgrepo-com.svg');
    background-size: contain;
    height: 2dvh;
    width: 2dvh;
    display: block;
} 


#title {

    font-size: 8dvh;

}

#links {

    font-size: 2dvh;

    background-color: red;

    height: 5dvh;

    width : 100dvw;

}